.navbar {
  background-color:#2c3e50;
  border-color: black;
}

div .chart-stage .chart-stage-flex {
  padding-left: 0px;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #1a242f;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #1a242f;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #1a242f;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #1a242f;
}

.awesome-marker {
  transform: scale(0.5,0.5)
}

.storyboard-nav .sbframelist ul li.active {
    background: #2c3e50;
}


.leaflet .legend i{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 4px;
}


#full_map {
    background: #000;
}  


.section.sidebar {
    background-color: rgb(255 255 255);
}

.fa {
  line-height: 1.45;
}


.leaflet-popup-content {
  margin: 8px 8px 16px;
  line-height: 0.8;
}

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  border-radius: 6px;
}

body hr {
  margin: 0px;
}

.leaflet-popup-content p {
  margin: 18px 0px 7px 0px;
}



.section .sidebar {
  background-color: white;
}

.info.legend.leaflet-control {
  font-size:12px;
}

.leaflet-top.leaflet-right{
  font-size: 12px;
}

.leaflet-tooltip {
   overflow-wrap: break-word;
   white-space: normal;
   max-width: 500px;
}

.leaflet-tooltip table{
  table-layout: fixed;
  width: max-content;
  max-width: 100%;
}

.leaflet-tooltip td, .leaflet-tooltip th{
  white-space: normal;
  max-width: 100%;
  overflow-wrap: break-word;
}


@media (max-width: 767px) { 
  #map .section.level3.chart-wrapper:first-child {
    display: none;
  }
  
  .leaflet-right.leaflet-bottom .info{
    display: none;
  }

  
  .leaflet-top.leaflet-right .leaflet-control-layers{
    display: none;
  }
  
  .info.legend.leaflet-control {
    font-size:10px;
  }
  
  .section, .active, body, html, .tab-content, #dashboard-container {
    height: 100%;
  }
  
  #OpenData {
    display:none;
  }
}








